*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
    color: blue;
}

.container {
    display: flex;
    width: 800px;
    flex-wrap: wrap;
    --grid-count: 16;
}

.square {
    border: 1px solid rgb(0, 0, 0);
    flex: 0 0 calc(100% / var(--grid-count));
    aspect-ratio: 1 / 1;
}
